/* Start of Media Queries for desktop mode  */

@media only screen and (min-width: 768px){

    .head h1{
        text-transform: uppercase;
        margin-bottom: 30px;
        text-align: center;
        font-size: 3rem;
        letter-spacing: 0.2rem;
        color: black;
    }

    .head h1 span{
        color: red;
    }

/* Start of hero section  */
    
    #hero #title_1{
        font-size: 2.5rem;
    }

    #hero #title_2{
        font-size: 5.5rem;
    }

    #hero #sub_title{
        font-size: 1.6rem;
    }

    #hero #info{
        font-size: 1rem;
    }

/* End of hero section  */


/* Start of about section  */

    #about .about_content{
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    #about .col_right p{
        font-size: 1.1rem;
        line-height:1.6;
    }

    #about .col_left{
        width: 1200px;
        height: 420px;
        padding: 0 60px 0 0;
    }

    #about .col_right a{
        font-size: 1.2rem; 
        font-weight: 600;
    }

/* End of about section  */


/* Start of skill styling section  */

#skill .skill_content{
    flex-direction: row;
}

#skill .skill_col_left{
    width: 600px;
    height: 400px;
    padding: 20px 60px 0 0 ;
}

/* End of skill styling section  */


/* Start of contact me styling section  */

#contact .contact_content{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#contact .contact_col_left{
    width: 600px;
    height: 400px;
}

#contact .col_left_head h2{
    font-size: 1.8rem;
    text-align: left;
    margin-bottom: 30px;
}

#contact .contact_col_right{
    width: 100%;
    height: 400px;
}

#contact .col_right_head h2{
    margin-top: 0;
    font-size: 1.8rem;
    margin-bottom: 30px;
    text-align: left;
}

#contact .icons i{
    width: 40px;
    font-size: 1.4rem;
    color: red;
}

#contact .head{
    font-size: 1.2rem;
}

#contact .material_icons .icons_list{
    font-size: 1.8rem;
}

#contact .fields{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#contact .field_section textarea{
    height: 100px;
    width: 100%;
} 

#contact .field_section input{
    height: 40px;
    width: 100%;
}

#contact .sec1 input{
    width: 320px;
}

#contact .sec2 input{
    width: 400px;
}

/* End of contact me styling section  */


}

/* End of Media Queries for desktop mode  */